/* HERNI */

a:hover {
  color: white!important;
  text-decoration: none;
  background-color: transparent;
}

.carousel-inner img{
  width: 100%;
  max-height: 760px;
}

h5
{
font-size: 38px;
font-family: 'Roboto', sans-serif;
font-family: 'Lora', serif;
font-family: 'Teko', sans-serif;
font-family: 'Gothic A1', sans-serif;
font-family: 'Archivo', sans-serif;
font-family: 'Graduate', cursive;
font-weight: bold;
}

.pie{
  font-size: 20px;
}

.carousel-caption {
    position: absolute;
    right: 25%;
    bottom: 40px;
    left: 25%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 10px;
    color: rgb(0,0,0,1);
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
}

.container5
{
  background-image: url(../imagenes/azules.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


main.login{
  height: 100vh;
}
.container3
{
  background-image: url(/imagenes/footballs.jpg);
//-background-color: rgb(220, 187, 187);251, 222, 124
  background-size: cover;
  -background-repeat: no-repeat;
  height: 1100px;

}
.container4
{
  //-background-color: rgb(220, 187, 187);
  background-size: cover;
  background-repeat: no-repeat;
  height: 530px;
  position: relative;
  bottom:35px;
  right: 12px;
}

.container-fluid{
  padding-left: 0;
  padding-right: 0;
}


.subtitulo-buscojugador{
  width: 700px;
  position: absolute;
  top: 109px;
  left: 300px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 7px;
  z-index: 10;
  text-align: center;

}

.formBuscoJugador{
  position: absolute;
  top: 150px;
  left: 300px;
  background-color: rgba(255,255,255);
  width: 700px;
  padding: 20px;
  border-radius: 10px;
  z-index: 5
}

.divform{
  position: relative;
  top: 20px;

}

.titulo1{
  position: absolute;
  top: 90px;
  left: 275px;
}
.bg-dark
{
  background-color: rgba(0,0,0,0.6)!important;
}
.boton
{
  color: white;
  font-size: 20px!important;
}

.boton2{
  text-align: center;
}

.margen
{
  margin-top:130px;
}

.card_title
{
  text-align: center;
}

.card_fill
{
  opacity: 0.8;
}

.div_1
{
  margin-top: 120px;
  margin-bottom: 100px;
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  background-color: rgba(255,255,255,0.7) !important;
  text-align: center;
}

.titulo
{
  background-color: Gray;
  opacity: 0.8;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 30px;
  font-family: sans-serif;
}


.preguntas
{
  color:SlateGray;
  background-color: black;
  font-weight:lighter;
  font-size: 20px;
  font-family: sans-serif;
}

.respuesta
{
  color:SlateGray;
  background-color: white;
  font-weight:lighter;
  font-size: 15px;
  font-family: sans-serif;
  padding-left: 17px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 17px;
  background-color: rgba(255,255,255,0.8) !important;
  border-radius: 3px;
  margin-bottom: 10px;
}

.item
{
  width: 35px;
  height: 35px;
  float: left;
  display: inline;
}


.contenedor-foto-perfil{
  position: absolute;
  top: 100px;
  left: 500px
}

.bienvenido{
  color: black;
}

.fotosAvatar{

}

.fotoPerfil{
  width: 250px;
  height: 200px

}

.section1{
  /* height: 1100px; */
  background-image: url(sitemap.xml);
  position: relative;
  /*min-height: 100vh;*/

}
.footer{
  width: 100%;
  height: 110px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  padding: 10px;
  background-color: rgba(0, 0, 0);
}

.links{
  position: absolute;
  left: 80px;
  margin-top: 10px;
  color: white;
  font-size: 13px;
  text-decoration: underline;
  font-family: sans-serif;
}
.img-footer{
  width: 90px;
  heigth: 90px;
  position: absolute;
  bottom: 10px;
  margin-left: 50%;
  right: 600px;

}

.tituloiconos{
  float:right;
  color: white;
  position: relative;
  bottom: 40px;
  right: 140px;
}

.rrss{
  float:right;
  color: white;
  position: relative;
  bottom: 40px;

}

.iconosrs{
  padding: 20px;
  display: inline-flex;
  float: right;

}

.sectionBuscoJugador{
  height: 800px;
  display: flex;
}

.cardbuscoequipo{
  position: relative;
  top: 100px;
}

.tabla-busco-equipo{
  position: absolute;
  top: 113px;
}

/*Aca empieza el diseño del Login y el Register*/
.container1
{
  background-image: url(../imagenes/fondologin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.formlogin{
  position: relative;
  top: 150px;
}

.container2
{
  background-image: url(../imagenes/botines.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bloque
{
    background-color: rgba(255,255,255,0.8);
    font-size: 17px;
}

.cuerpo{
  margin-top: 7%;
  margin-bottom: 15%;
}

.container-main{
  background-color: white;
}
.cartalogin{
  position: relative;
  top: 200px;
  width: 50%;
  left: 300px;
}

.titulologin{
  font-family: sans-serif;
}

.containerExito{
  height: 600px;
  background-image: url(../imagenes/fondologin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.cardExito{
  position: relative;
  top: 150px;
  left: 250px
}
.textoexito{
  font-family: sans-serif;
}

@media (max-width:360px)
{
  .div_1
  {
    width: 70%;
  }
  .titulo
  {
    font-size: 28px;
  }
  .preguntas
  {
    font-size:17px;
  }
  .respuesta
  {
    font-size: 13px;
  }

}

@media (max-width:750px)
{
  .div_1
  {
    width: 70%;
  }
  .titulo
  {
    font-size: 31px;
  }
  .preguntas
  {
    font-size:19px;
  }
  .respuesta
  {
    font-size: 14px;
  }

}

@media (max-width: 950px)
{
  .div_1
  {
    width: 70%;
  }
  .titulo
  {
    font-size: 34px;
  }
  .preguntas
  {
    font-size:21px;
  }
  .respuesta
  {
    font-size: 15px;
  }


}

@media (max-width:1150px)
{
  .div_1
  {
    width: 70%;
  }
  .titulo
  {
    font-size: 37px;
  }
  .preguntas
  {
    font-size:23px;
  }
  .respuesta
  {
    font-size: 16px;
  }

}

@media (max-width:1366px)
{
  .div_1
  {
    width: 70%;
  }
  .titulo
  {
    font-size: 40px;
  }
  .preguntas
  {
    font-size:25px;
  }
  .respuesta
  {
    font-size: 17px;
  }

}
